*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}
.container{
    background-color: rgb(51, 51, 73);
    opacity: 80%;
    border: none;
    width: 30%;
    height: 200px;
    border-radius: 20px;
    margin: auto;
}

.star{
    padding: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:rgb(64, 64, 107) ;
    margin-top: 30px;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: left;
    margin-bottom: auto;
    margin-top: 30px;
    margin-left: 30px;
}
.content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
}
#title{
    color: white;
    margin-left: -30px;
}
#text{
    font-size: 7px;
    margin-left: 45px;
    margin-top: 5px;
    color: rgb(184, 180, 180);
    line-height: 14px;
}
.rating{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 15px;
    margin-top: 10px;
}
.num{
    margin-left:10px;
    border-radius: 50%;
    border: none;
    width: 20px;
    height: 20px;
    background-color:rgb(64, 64, 107);
    color: white;
    font-size: 8px;


}
.num:hover{
    background-color: rgba(255, 255, 255, 0.521);
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#submitBtn{
    width: 80%;
    border-radius: 10px;
    border: none;
    background-color: #ff7f00;
    font-size: 8px;
    padding: 4px;
    color: white;
}

#submitBtn:hover{
    background-color: white;
    color: #ff7f00;
}